[Unit]
Description=Refresh TEE certificate timer
After=cocoon-ready.target

[Timer]
OnActiveSec=1h
OnUnitInactiveSec=1h
RandomizedDelaySec=5m

[Install]
WantedBy=cocoon-ready.target
