[Unit]
Description=sglang docker container
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull lmsysorg/sglang:v0.5.10.post1-cu130-runtime@sha256:715c461258624eae38124dcb1e1f620cbe307594fd3403ab92caf1b7017afd0f
ExecStart=docker run --rm --gpus all --name %n -v /mnt/model:/model -p 8000:8000 --ipc=host --entrypoint=python3 lmsysorg/sglang:v0.5.10.post1-cu130-runtime@sha256:715c461258624eae38124dcb1e1f620cbe307594fd3403ab92caf1b7017afd0f -m sglang.launch_server --tp=1 --trust-remote-code --host 0.0.0.0 --port 8000 --model /model --served-model-name $MODEL_NAME --enable-cache-report
ExecStop=-/usr/bin/docker stop %n

TimeoutStartSec=2h
StandardOutput=journal+console
StandardError=journal+console

# Resource accounting (for health-monitor)
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
