[Unit]
Description=TEE router
Wants=vllm.service

[Service]
Type=simple
ExecStart=/usr/bin/router -S 8116@tee --serialize-info -C /etc/tee/tee
StandardOutput=journal+console
StandardError=journal+console

# Resource accounting (for health-monitor)
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
