[Unit]
Description=TEE router

[Service]
Type=simple
ExecStart=/usr/bin/router -R 11001:localhost:11101@tee -R 11002:localhost:11102@any --serialize-info -C /etc/tee/tee
StandardOutput=journal+console
StandardError=journal+console

# Resource accounting (for health-monitor)
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
